node_modules
coverage
dist
.turbo
.direnv
.env
.env.*
.env.local
*.tsbuildinfo
.DS_Store
.pnpm-debug.log*
.pkgrep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test-results
config/config.development.toml
config/config.production.toml
